body{
  background-color: #f1f1f1;
}

.privacy-content {
  padding: 10px 40px;
  height: 100vh;
  background-color: #f1f1f1;

  .privacy-card {
    margin-top: 15px;
    height: auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }

  .arrow-back-policies {
    position: relative;
    margin: 20px;
    top: 10px;

      svg {
        font-size: 60px; 
        fill: #001427; 
      }
  }
}

.policies-card-content{
  margin: 20px;
}

.policies{
  margin: 20px;
}

.header-content-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

    .div {
      width: 20%;
      height: 100px;
      position: static;
      background-color: #001427;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 600;
    }
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #001427;

  .button-style {
    color: #b3dbf8;
    text-transform: capitalize;
    font-size: small;
    font-weight: 600;
  }
}


@media screen and (max-width: 768px){
  .privacy-content {
    padding: 10px 20px;
    height: 100vh;
    background-color: #f1f1f1;
  
    .privacy-card {
      margin-top: 15px;
      height: auto;
      background-color: #fff;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      padding: 20px;
    }
  
    .arrow-back-policies {
      position: relative;
      margin: 20px;
      top: 10px;
  
        svg {
          font-size: 60px; 
          fill: #1d2d44; 
        }
    }
  }
  
  .policies-card-content{
    margin: 20px;
  }
  
  .policies{
    margin: 20px;
  }
  
  .header-content-button{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      padding: 10px;
  
      .div {
        width: 20%;
        height: auto;
        position: static;
        background-color: #001427;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 600;
      }
  }
  
  .header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #001427;
  
    .button-style {
      color: #b3dbf8;
      text-transform: capitalize;
      font-size: small;
      font-weight: 600;
    }
  }
}