body {
  background-color: #fff;
}

.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.register-container {
  margin-top: 15px;
  height: auto;
  width: 35%;
  background-color: #fff;
  text-align: center;
  border-color: #001427;
  box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
}

.MuiList-root {
  ul {
    width: 200px;
  }
}

.register-form {
  label {
    font-size: medium;
  }
  padding-top: 30px;
  h3 {
    margin-top: 0;
  }
}

.terminosycondiciones {
  margin: 5px;
  label {
    font-size: small;
  }
}

.register-container-header {
  background-color: #001427;
  color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
}

.form-group-regis {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7px 10px;

  .email-pass {
    display: grid;
    justify-content: center;
    align-content: space-evenly;
  }

  .text-field {
    margin: 0 5px;
  }

  .div-inputs {
    margin: 3px 6px;
    display: flex;
    flex-direction: column;
  }
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  padding-left: 0px;
}

.form-group-regis-2 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .email-pass {
    display: grid;
    justify-content: center;
  }
}

.form-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.form-actions button {
  background-color: #005195;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 200px;
  margin: 20px;
  font-size: medium;
}

.div-avatar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 52px;
  margin-left: 37px;
  h5 {
    margin: 0 10px 0 5px;
    color: #b7b7a4;
  }
  span {
    font-size: small;
    color: #1b263b;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 5px;
  }
}

.ir-a-login {
  margin: 0;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #001427;
  bottom: 0;
  .yacuenta {
    color: #f0ebd8;
    margin: 0;
    font-size: medium;
  }
  button {
    font-size: medium;
    color: #748cab;
    text-transform: capitalize;
    text-decoration: underline;
  }
}

.error-message {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: small;
  align-items: start;
  display: flex;
  margin-left: 9px;
  color: #d93a3a;
  font-weight: 100;
}

.alert-success {
  margin: 10px 10px;
}

.MuiPaper-root {
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  .register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    padding-top: 36px;
  }

  .register-container {
    margin-top: 15px;
    width: 90%;
    background-color: #fff;
    text-align: center;
    border-color: #001427;
    box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
  }

  .register-form {
    padding-top: 5px;
    label {
      font-size: medium;
      margin-top: -5px;
      margin-bottom: 15px;
    }
    height: 100vh;
    overflow-y: auto;
  }

  .register-container-header {
    background-color: #001427;
    color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .form-group-regis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2px 5px 0px 5px;

    .text-field {
      margin: 4px 0;
    }
  }

  .form-group-regis-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    .email-pass {
      display: grid;
      justify-content: center;
    }

    .text-field-2 {
      margin: 10px 5px;
    }
  }

  .form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .form-actions button {
    background-color: #005195;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
    margin: 8px;
    font-size: large;
  }

  .div-avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    h5 {
      margin: 0 10px 0 5px;
      color: #b7b7a4;
    }
    span {
      font-size: small;
      color: #1b263b;
      text-transform: capitalize;
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }

  .ir-a-login {
    margin-top: 5px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #001427;
    bottom: 0;
    .yacuenta {
      color: #f0ebd8;
      margin: 0;
      font-size: medium;
    }
    button {
      font-size: medium;
      color: #748cab;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }

  .MuiInputBase-root {
    input {
      padding: 10.5px 14px;
    }
    div {
      padding: 10.5px 0;
    }
  }

  .terminosycondiciones {
    margin: 5px;
    label {
      font-size: small;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1449px) {
  .register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: auto;
    padding-top: 36px;
  }

  .register-container {
    margin-top: 0px;
    height: auto;
    width: 42%;
    background-color: #fff;
    text-align: center;
    border-color: #0d1b2a;
    box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
  }

  .register-form {
    padding-top: 5px;
    label {
      font-size: medium;
      margin-top: -5px;
      margin-bottom: 15px;
    }
    overflow-y: auto;
  }

  .register-container-header {
    background-color: #001427;
    color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .form-group-regis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2px 5px 0px 5px;

    .text-field {
      margin: 4px 0;
    }
  }

  .form-group-regis-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    .email-pass {
      display: grid;
      justify-content: center;
    }

    .text-field-2 {
      margin: 5px 0;
    }
  }

  .form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-actions button {
    background-color: #005195;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    margin: 8px;
    font-size: medium;
  }

  .div-avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    h5 {
      margin: 0 10px 0 5px;
      color: #b7b7a4;
    }
    span {
      font-size: small;
      color: #1b263b;
      text-transform: capitalize;
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }

  .ir-a-login {
    margin-top: 5px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #001427;
    bottom: 0;
    label {
      color: #f0ebd8;
      margin: 0;
      font-size: medium;
    }
    button {
      font-size: medium;
      color: #748cab;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }

  .MuiInputBase-root {
    input {
      padding: 10.5px 14px;
    }
    div {
      padding: 10.5px 0;
    }
  }

  .terminosycondiciones {
    margin: 5px;
    label {
      font-size: small;
    }
  }
  .MuiPaper-root {
    max-width: 200px;
  }
}

@media screen and (min-width: 1450px) {
  .register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: auto;
    padding-top: 36px;
  }

  .register-container {
    margin-top: 15px;
    height: auto;
    width: 45%;
    background-color: #fff;
    text-align: center;
    border-color: #001427;
    box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
  }

  .register-form {
    padding-top: 5px;
    label {
      font-size: large;
      margin-top: -5px;
      margin-bottom: 15px;
    }
    overflow-y: auto;
  }

  .register-container-header {
    background-color: #001427;
    color: #f0ebd8;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .form-group-regis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2px 5px 5px 5px;

    .text-field {
      margin: 5px 5px;
    }
  }

  .form-group-regis-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
    .email-pass {
      display: grid;
      justify-content: center;
      align-content: space-evenly;
      margin: 5px;
    }

    .text-field-2 {
      margin: 6px 0;
    }

    h5 {
      margin: 0 10px 0 5px;
      color: #b7b7a4;
      margin: 5px;
    }
  }

  .form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .form-actions button {
    background-color: #005195;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
    margin: 8px;
    font-size: large;
  }

  .div-avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 5px;

    .avatar-register {
      margin: 5px;
    }
  }

  .ir-a-login {
    margin-top: 5px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #001427;
    bottom: 0;
    h3 {
      color: #f0ebd8;
      margin: 0;
    }
    button {
      font-size: medium;
      color: #748cab;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }

  .MuiInputBase-root {
    input {
      padding: 10.5px 10px;
    }
    div {
      padding: 10.5px 0;
      height: 40px;
    }
  }

  .terminosycondiciones {
    margin: 5px;
    label {
      font-size: small;
    }
  }

  .MuiPaper-root {
    max-width: 200px;
  }
}
