
.div-inputs{
    margin: 5px;
}

.text-field-books{
    margin: 5px !important;
}

.div-inputs-photos{
    margin: 10px;
    align-items: flex-start;
    display: flex;

    label{
        font-size: small;
    }
}

.form-books{
    display: flex;
}

.button-add-product{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    button{
        margin-left: 10px;
        width: 120px;
    }
}

.select-filter-category{
    margin: 10px;
    display: flex;
    flex-direction: column;

    label{
        font-size: small;
        margin: 5px;
    }
}