.content-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.reset-card {
  margin-top: 15px;
  height: auto;
  width: 25%;
  background-color: #fff;
  text-align: center;
  border-color: #001427;
  box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
}

.reset-card-header {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #001427;
  border-color: #001427;
  align-items: center;

  .header-title {
    font-size: medium;
    color: white;
    font-weight: 600;
  }
}

.textfield-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-group-reset {
    margin: 10px;
  }
}

.form-actions-reset button {
  background-color: #005195;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 250px;
  margin: 20px 15px 20px 15px;
  font-size: medium;
  height: 35px;
  text-transform: capitalize;
}

/* .MuiInputBase-root{
  width: 250px !important;
} */

.error-message-reset {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
  align-items: start;
  display: flex;
  margin-left: 9px;
  color: #d93a3a;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .content-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }

  .reset-card {
    margin-top: 15px;
    height: auto;
    width: 90%;
    background-color: #fff;
    text-align: center;
    border-color: #001427;
    box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
  }

  .reset-card-header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #001427;
    border-color: #001427;
    align-items: center;

    .header-title {
      font-size: medium;
      color: white;
      font-weight: 600;
    }
  }

  .textfield-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group-reset {
      margin: 10px;
    }
  }

  .form-actions-reset button {
    background-color: #005195;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
    margin: 15px 15px 20px 15px;
    font-size: medium;
    height: 45px;
    text-transform: capitalize;
  }

  .error-message-reset {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
    align-items: start;
    display: flex;
    margin-left: 9px;
    color: #d93a3a;
    font-weight: 100;
  }
}

@media screen and (min-width: 768px) and (max-width: 1266px) {
  .content-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }

  .reset-card {
    margin-top: 15px;
    height: auto;
    width: 45%;
    background-color: #fff;
    text-align: center;
    border-color: #0d1b2a;
    box-shadow: 1px 2px 5px rgba(0, 0, 10, 1.2);
  }

  .reset-card-header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #001427;
    border-color: #001427;
    align-items: center;

    .header-title {
      font-size: medium;
      color: white;
      font-weight: 600;
    }
  }

  .textfield-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group-reset {
      margin: 10px;
    }
  }

  .form-actions-reset button {
    background-color: #005195;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    margin: 15px 15px 20px 15px;
    font-size: large;
    height: 45px;
    text-transform: capitalize;
  }

  .error-message-reset {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
    align-items: start;
    display: flex;
    margin-left: 9px;
    color: #d93a3a;
    font-weight: 100;
  }
}
